#container {
    margin:auto;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    background-color: grey;
}

h1 {
    margin-top: 200px;
    text-align: center;
}

#game-start {
    width: 100px;
    margin: 25px 350px;
}