h1 {
    margin-top: 200px;
    text-align: center;
}

#game-start {
    width: 100px;
    margin: 25px 350px;
}

#main {
    position:relative;
    margin:auto;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    background-color: grey;
  }
  
  #lava {
    position: absolute;
    background-color: red;
  }
  
  #platform {
    position: absolute;
    background-color: green;
  }
  
  #player1 {
    position: absolute;
    background: url(../assets/graphics/player1/BIKERWALKRIGHT1.png) 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px black;
  }
  
  #player2 {
    position: absolute;
    background: url(../assets/graphics/player2/PUNKWALKLEFT1.png) 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px black;
  }

  #goal {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white; 
  }