h1 {
    margin-top: 200px;
    text-align: center;
}

#game-start {
    width: 100px;
    margin: 25px 350px;
}

#main {
    position:relative;
    margin:auto;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    background-color: grey;
  }
  
  #lava {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 800px;
    background-color: red;
  }
  
  #platform {
    position: absolute;
    background-color: green;
  }
  
  #player {
    position: absolute;
    background-color: blue;
  }

  #goal {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white; 
  }