h1 {
    margin-top: 200px;
    text-align: center;
}

#game-start {
    width: 100px;
    margin: 25px 350px;
}

#main {
    position:relative;
    margin:auto;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    background: rgb(238, 19, 190);
    background-size: contain;
  }
  
video {
  width: 800px;
  height: 600px;
  object-fit: cover;
}

  #lava {
    position: absolute;
    background-color: red;
  }
  
  .platform {
    position: absolute;
    background: url(../assets/graphics/HIGHTECHWALL.png);
  }
  
  #player1 {
    position: absolute;
    background: url(../assets/graphics/player1/BIKERWALKRIGHT1.png) 0px 0px;
    scale: 1.5;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #player2 {
    position: absolute;
    background: url(../assets/graphics/player2/PUNKWALKLEFT1.png) 0px 0px;
    background-size: contain;
    scale: 1.5;
    background-repeat: no-repeat;
  }

  .life1 {
    width: 20px;
    height: 35px;
    display: inline-block;
    background: url(../assets/graphics/player1/BIKERWALKRIGHT1.png);
    background-repeat: no-repeat;
  }

  #life-container1 {
    width: 70px;
    height: 35px;
    position: absolute;
    left: 100px;
    top: 50px;
  }

  .life2 {
    width: 20px;
    height: 35px;
    display: inline-block;
    background: url(../assets/graphics/player2/PUNKWALKLEFT1.png);
    background-repeat: no-repeat;
  }

  #life-container2 {
    width: 70px;
    height: 35px;
    position: absolute;
    left: 630px;
    top: 50px;
  }